elpa
*.dat
auto-save-list
eshell
url
.DS_Store
recentf
network-security.data.markdown-preview.html
.python-environment
README.html
ido.last
kkrc
smex-items
.mc-lists.el
network-security.data
.python-environments
